﻿@{
    ViewBag.Title = "About";
}
<h1>Jobson</h1>
<h3>
    Jobson é um sistema para pessoas da area de Tecnologia e Informação que estão a procura de um emprego,
    ele faz com que empresas possam postar suas vagas, para que os usuarios possam decidir se querem ou não a vaga,
    assim tornando a procura de emprego mais dinamica e descontraida. Jobson permite que o usuario cadastre seu curriculo, podendo também as empresas
    direcionarem as vagas para candidatos que mais lhe interessem.
</h3>



