﻿@model Jobson.Models.ContatoViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 25px;">
        <div class="container" style="background: white; border: 1px solid black;">
            <div class="card-header">
                <h3 style="text-align: center">Cadastre-se</h3>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Nome)
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-3">
                        @Html.LabelFor(model => model.Usuario)
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-1">
                        @Html.LabelFor(model => model.Idade)
                        @Html.EditorFor(model => model.Idade, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Idade, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Senha)
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Cpf)
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>                    
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Formacao)
                        @Html.EditorFor(model => model.Formacao, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Formacao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Endereco)
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Bairro)
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Cidade)
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Estado)
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-lg-12">
                        @Html.LabelFor(model => model.Conhecimento)
                        @Html.TextAreaFor(model => model.Conhecimento, new { @class = "form-control", @style = "max-width: inherit" })
                        @Html.ValidationMessageFor(model => model.Conhecimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.LabelFor(model => model.Publicacao)
                        @Html.TextAreaFor(model => model.Publicacao, new { @class = "form-control", @style = "max-width: inherit" })
                        @Html.ValidationMessageFor(model => model.Publicacao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.LabelFor(model => model.Preferencia)
                        @Html.TextAreaFor(model => model.Preferencia, new { @class = "form-control", @style = "max-width: inherit" })
                        @Html.ValidationMessageFor(model => model.Preferencia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" value="Criar" class="btn btn-primary" />
                        @Html.ActionLink("Voltar", "Index", "Home", new { @class = "btn btn-default" })
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}
