﻿
    <div class="jumbotron text-center" style="margin-top:30px;">
        <img class="img-rounded" src="~/Resource/jobson_index.png" style="width: 40%; height: 40%;" />
        <p class="lead" style="margin-top:30px;">
            JOBSON é um sistema capaz de reunir
            empresas e candidatos a vagas na área de TI, levando
            em consideração o perfil de ambos, necessidades da
            empresa e conhecimentos específicos dos candidatos.
        </p>
        <div class="btn-group" style="margin-top:15px;">
            
            <a href="../Home/Login" name="Login" class="btn btn-lg btn-success"> Login </a>
            <a href="../Home/Cadastro" name="Cadastro" class="btn btn-lg btn-success">Cadastre-se</a>
        </div>
    </div>