﻿<script>
    function login() {
        var log = document.getElementById("username").value;
        var sen = document.getElementById("senha").value;
        var i;

        for (i = 0; i < pessoas.length; i++) {
            if (log == pessoas[i].name && sen == pessoas[i].senha){
                alert("Bem vindo " + log + "!");
            }
        }
    }
</script>
<div class="container" style="height: 100%; display: flex; justify-content: center; background: white;">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-lg-8">
                <div class="card">
                    <a href="~/Home/Index"><img class="img-rounded" src="~/Resource/jobson.png" style="width: 50%;" /></a>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-body">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" id="username" class="form-control" placeholder="username" style="margin-left:100px; margin-top:40px;">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" id="senha" class="form-control" placeholder="password" style="margin-left:100px;">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox" style="margin-left:130px;">Lembrar de mim
                    </div>
                    <div class="form-group">
                        <input onclick="login()" type="submit" value="Login" class="btn btn-success" style="margin-left: 115px; margin-top:15px;">
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links" style="margin-left:125px;">
                            Não possui uma conta?<a href="#">Inscreva-se</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#" style="margin-left:125px;">Esqueceu a senha?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
