﻿@model Jobson.Models.AnalistaViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top: 25px;">
        <div class="container" style="background: white; border: 1px solid black;">
            <div class="card-header">
                <h3 style="text-align: center">Cadastre-se, Analista de RH</h3>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Nome)
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Usuario)
                        @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Usuario, "", new { @class = "text-danger" })
                    </div>                    
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Senha)
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4">
                        @Html.LabelFor(model => model.Cnpj)
                        @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Cnpj, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Endereco)
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", @style = "max-width: inherit" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                                       
                </div>                

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" value="Criar" class="btn btn-primary" />
                        <a href="../Home" class="btn btn-default">Voltar</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
